@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'highwind';
  src: url('./assets/fonts/highwind.ttf');
}
@font-face {
  font-family: 'highwind-italic';
  src: url('./assets/fonts/highwind-italic.ttf');
}
